{% extends 'base.html' %}

{% block titulo %} Pedido de {{user}} {% endblock titulo %}

{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Realizar compra de {{user.nombre}}</h1>
        <form class="cell grid-x grid-margin-x" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div class="medium-12 cell muyAncho" >
                <label>Paqueteria:
                    {{form.paqueteria}}
                </label>
            </div>
            <div class="medium-12 cell muyAncho" >
                {{form.cantidad.errors}}
                <label>Cantidad:
                    {{form.cantidad}}
                </label>
            </div>
            <div class="medium-12 cell muyAncho" >
                {{form.domicilio.errors}}
                <label>Domicilio:
                    {{form.domicilio}}
                </label>
            </div>
            <div class="medium-12 cell muyAncho" >
                {{form.numTarjeta.errors}}
                <label>Número de tarjeta:
                    {{form.numTarjeta}}
                </label>
            </div>
            <div class="medium-12 cell muyAncho" >
                {{form.cv2.errors}}
                <label>CV2:
                    {{form.cv2}}
                </label>
            </div>
            <div class="medium-12 cell muyAncho" >
                <button class="btn btn-success" type="submit">Realizar compra</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}