{% extends 'base.html' %}

{% block titulo %} Inicio de sesión {% endblock titulo %}

{% block content %}
{% include 'includes/header.html' %}
<!--<div class="row column align-center medium-6 large-4 container-padded">
    <form method="POST" class="log-in-form "> {% csrf_token %}
        <h4 class="text-center">Inicia sesión con tu nombre de usuario</h4>
          <label >Usuario:
            {{form.username}}
          </label>
        {{form.password.errors}}
          <label>Contraseña:
              {{form.password}}
          </label>
            <button type="submit" class="button expanded">Acceder</button>
    </form>
</div>-->
 <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post"> {% csrf_token %}
                            <h3 class="text-center text-info">Inicia sesión con tu nombre de usuario</h3>
                            <div class="form-group">
                                <label >Username:
                                {{form.username}}</label><br>
                            </div>
                            <div class="form-group">
                                {{form.password.errors}}
                                <label>Password:
                                {{form.password}}</label><br>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-md">Iniciar sesión</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}