{% extends 'base.html' %}

{% block titulo %} Pedido de {{user}} {% endblock titulo %}

{% block content %}
{% include 'includes/header.html' %}
<div class="grey-bg container-fluid">
  <section id="minimal-statistics">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h4 class="text-uppercase">Pedidos del usuario {{user.nombre}}</h4>
        <p>Pedidos:</p>
      </div>
    </div>
    <div class="row">
      {% for orden in ordenes %}
      <div class="col-xl-3 col-sm-6 col-12">
          <div class="card" style="width: 18rem;">
          <img src="{{orden.libro.portada.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">No. Orden: {{orden.id}}</h5>
            <p class="card-text">Gracias por comprar {{orden.libro.titulo}}, espero que vuelvas pronto.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Paqueteria: {{orden.paqueteria.nombre}}</li>
            <li class="list-group-item">Domicilio de entrega: {{orden.domicilio}}</li>
            <li class="list-group-item">Cantidad de copias: {{orden.cantidad}}</li>
            <li class="list-group-item">Total: ${{orden.total}}</li>
            <li class="list-group-item">Fecha de compra: {{orden.fecha_venta}}</li>
            <li class="list-group-item">Fecha de estimada de entrega: {{orden.fecha_entrega}}</li>
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock content %}