{% extends 'base.html' %}

{% block titulo %} Registrar Cliente {% endblock titulo %}

{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Registrar cliente</h1>
        <form class="cell grid-x grid-margin-x" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div class="medium-12 cell muyAncho" >
                <label>Nombre de usuario:
                    {{form.username}}
                </label>
            </div>
            <div class="medium-12 cell muyAncho" >
                <label>Correo Electrónico:
                    {{form.email}}
                </label>
            </div>
            <div class="medium-12 cell muyAncho" >
                <label>Nombres:
                    {{form.nombre}}
                </label>
            </div>
            <div class="medium-12 cell muyAncho" >
                <label>Apellidos:
                    {{form.apellido}}
                </label>
            </div>
            <div class="medium-12 cell muyAncho" >
                <label class="top">Imagen de perfil:
                    {{form.avatar}}
                </label>
            </div>
            <div class="medium-12 cell muyAncho" >
                <label>Contraseña:
                    {{form.password}}
                </label>
            </div>
            <div class="medium-12 cell muyAncho" >
                {{form.password2.errors}}
                <label>Confirmación de contraseña:
                    {{form.password2}}
                </label>
            </div>
            <div class="medium-12 cell muyAncho" >
                <button class="button success" type="submit">Registrar</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}