{% extends 'base.html' %}

{% block titulo %} Verificación de cuenta {% endblock titulo %}

{% block content %}
{% include 'includes/header.html' %}
<div class="row column align-center medium-6 large-4 container-padded">
    <form method="POST" class="log-in-form "> {% csrf_token %}
        <h1>Verificación de email</h1>
        {{form.codregistro.errors}}
        <h3>Ingrese el código de verificación:</h3>
          <label >Código:
            {{form.codregistro}}
          </label>
            <button type="submit" class="button expanded">Registrar</button>
    </form>
</div>
{% endblock content %}
