{% extends 'base.html' %}
{% load static %}
{% block titulo %} Mexizon {% endblock titulo %}
{% block content %}
    {% include 'includes/header.html' %}
    <!-- inicio de la imagen de portada -->
     <h1 class="text-center">
      Lo mas vendido!
    </h1>
<!--<section id="best-sellers">
<div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <img class="seller-image" src="{% static 'img/granja.jpg' %}" alt="libro">
            <h2 class="seller-text">'"Una carta de amor a la literatura"'.</h2>
          <em>-TIME</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">'"Una carta de odio al buen gusto"'.</h2>
          <img class="testimonial-image" src="{% static 'img/Harry.jpg' %}" alt="libro">
          <em>-The New York Times</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">'"Una carta de odio al buen gusto"'.</h2>
          <img class="testimonial-image" src="{% static 'img/romeo.jpg' %}" alt="libro">
          <em>-Washington post</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</section>-->
<div class="container-fluid">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for libro in top_sellers %}
            {% if libro == top_sellers.first %}
               <div class="carousel-item active">
            {% else %}
               <div class="carousel-item">
           {% endif %}
                <div class="row">
            <div class="col-xl-12 col-sm-12 col-12">
                <div class="card ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href='{% url "libros_app:libro-detalle" libro.id %}'>
                                <img class="float-right d-block w-100" style="max-width: 450px;"  src="{{libro.portada.url}}" alt="libro">
                            </a>
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">"Una carta de amor a la literatura escrita por {{libro.autor}}"</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
                </div>
            </div>
        {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
 <!-- final de la imagen de portada -->
<!--bloque de bienvenida--> 
<div class="grid-x align-center">
  <h1 class="cell large-8 medium-8 small-12" style="font-size: 25px; text-align: center;">Bienvenido a Mexizon el mejor ecommerce de libros</h1>
  <div class="cell large-7 medium-7 small-12">
   <div class="callout success">
     <h5>Quiénes somos</h5>
     <p> Somos una pequeña empresa de venta de libros</p>
     <p> que también se dedican a la programación web</p>
     <p> y nos gustaría recibir tu apoyo como cliente</p>
   </div>
  </div>
</div>
</div>
<!--Fin bloque de bienvenida--> 
{% endblock content %}