
<!--<div class="container-fluid">-->
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home_app:inicio' %}">Mexizon</a>
        <ul class="navbar-nav ml-auto" data-dropdown-menu>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'libros_app:libros' %}">Ver todos los libros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'libros_app:categorias' %}">Ver generos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users_app:user-register' %}">Registrarte</a>
            </li>
                    {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">Ver mis pedidos</a>
            </li>
            <li class="nav-item">
                <p class="saludo-usuario">Hola {{user.nombre}}</p>
            </li>
                    {% else %}
              <li><a class="nav-link" href="{% url 'users_app:user-login' %}">Inicio de sesión</a></li>
                    {% endif %}
            <li class="nav-item">
              <a type="button" class="btn btn-primary" href="{% url 'users_app:user-logout' %}">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>-->
<!--
</div>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home_app:inicio' %}">Mexizon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'libros_app:libros' %}">Ver todos los libros</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'libros_app:categorias' %}">Ver generos</a>
          </li>
      </ul>
        <div class="navbar-derecha">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    {% if user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'users_app:user-ordenes' %}">Ver mis pedidos</a>
          </li>
          <li class="nav-item">
              <p class="saludo-usuario">Hola {{user.nombre}}</p>
          </li>
          <li class="nav-item cerrar-sesion">
              <a type="button" class="btn btn-primary cerrar-sesion" href="{% url 'users_app:user-logout' %}">Cerrar sesión</a>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'users_app:user-register' %}">Registrarte</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'users_app:user-login' %}">Inicio de sesión</a>
          </li>
          {% endif %}
      </ul>
        </div>
    </div>
  </div>
</nav>