 <div class="cell">
    {% if is_paginated %}
        <nav aria-label="Pagination">
            <ul class="pagination">

                {% if page_obj.has_previous %}
                    <li class="pagination-previous"><a href="?page={{page_obj.previous_page_number}}" style="color:white;">Anterior</li>
                {% endif %}

                {% for pagina in paginator.page_range %}

                    {% ifequal pagina page_obj.number %}
                        <li class="current">
                            <a style="color:white;" href="?page={{pagina}}" aria-label="Page 2">{{pagina}}</a>
                        </li>
                    {% else %}
                    <li><a style="color:white;" href="?page={{pagina}}" aria-label="Page 2">{{pagina}}</a></li>
                    {% endifequal %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="pagination-next"><a href="?page={{page_obj.next_page_number}}" aria-label="Next page" style="color:white;">Siguiente</li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
 </div>