.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 0;
}
.ancho{
    width:25%;
}
.portada{
    width:50%;
}
/*NAV BAR CSS*/
.navbar{
    padding: 1rem 2rem 2rem;
}

.navbar-custom {
    background-color: 132c33;
}

.navbar-brand{
    color: d8e3e7;
    font-size: 1.5rem;
}

.navbar-item{
    padding 0 18px;
}

.saludo-usuario{
    color: d8e3e7;
    margin-top: 8px;
    margin-left: 30px;
}
.cerrar-sesion{
    margin-left: 30px;
}

/*CARRUSEL CSS*/

#carouselExampleControls{
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}
.seller-image{
    align: center;
    width: 40%;

}
.seller-text{
    text-align: center;
}

.h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
}
