{% extends 'base.html' %}

{% block titulo %} Lista categorias {% endblock titulo %}

{% block content %}
{% include 'includes/header.html' %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Lista de Categorias</h1>
            <div class="cell">
                <table>
                    <tbody>
                        {% for categoria in categorias %}
                        <tr>
                            <td>{{categoria.nombre}}</td>
                            <td><a class="button warning" href="{% url 'libros_app:libros-categoria' categoria.id %}">Ver Libros</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
             {% include 'includes/pagination.html' %}
        </div>
    </div>
{% endblock content %}