{% extends 'base.html' %}
{% load static %}
{% block titulo %} {{libro.titulo}} {% endblock titulo %}
{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <h1 class="cell text-center">Detalles del libro</h1>
        <div class="card large-6 cell" style="width: 300px; margin-top: 10px;">
            <div class="card-divider">
            </div>

            {% if libro.portada %}
               <img src="{{libro.portada.url}}">
            {% else %}
               <img src="{% static 'img/libroDefault.png' %}">
            {% endif %}
            <div class="card-section">
              <h4>{{libro.titulo}}</h4>
              <p>Autor: {{libro.autor}}</p>
              <p>Fecha de lanzamiento: {{libro.fecha}}</p>
              <p>Genero: {{libro.categoria.nombre}}</p>
              <p>Cantidad disponible: {{libro.inventario}}</p>
              <p><span class="label">Precio:${{libro.precio}}</span></p>
                {% if libro.inventario >= 1 %}
              <a href="{% url 'users_app:user-compra' libro.id %}" class="btn btn-primary">Comprar</a>
                {% else %}
                <p class="btn btn-danger">No disponible</p>
                {% endif %}
            </div>
            <div class="card-divider">
                <p>Otros libros recomendados:</p>
                {% for recomendado in recomendados %}
                <p><a href='{% url "libros_app:libro-detalle" recomendado.id %}'>{{recomendado.titulo}}</a>
                {% endfor %}
            </div>
          </div>
    </div>
</div>
{% endblock content %}