{% extends 'base.html' %}
{% load static %}
{% block titulo %} Todos los libros de {{libros.first.categoria.nombre}}{% endblock titulo %}

{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container grid-block" style="background-image: url('{% static "img/fondo-madera.jpg" %}'); width: 100%; height: 100vh;'">
    <div class="grid-x">
        <h1 style="color:white;">Libros de {{libros.first.categoria.nombre}}</h1>
        <form class="cell grid-x grid-margin-x" method="GET"> {% csrf_token %}
            <div class="cell large-6 medium-8">
                <input type="text" id="nombre" name="nombre" placeholder="ingrese el titulo">
            </div>
            <div class="cell large-2 medium-3">
                 <button class = 'button success' type="submit">Buscar</button>
            </div>
        </form>
    </div>

        <div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-3">
            {% for libro in libros %}
          <div class="cell">
              {% if libro.portada %}
            <img class="thumbnail" src="{{libro.portada.url}}" style="width:40%;">
              {% else %}
              <img src="{% static 'img/libroDefault.png' %}" >
              {% endif %}
            <h5 style="color:white;">{{libro.titulo}}</h5>
            <a href="{% url 'libros_app:libro-detalle' libro.id %}" class="button small expanded">Ver</a>
          </div>
            {% endfor %}
        </div>
    {% include 'includes/pagination.html' %}
</div>
{% endblock content %}